<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- Google fonts : Mali -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mali&display=swap"
      rel="stylesheet"
    />
    <title>Jazz Club 🎷</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="panel">
        <h1>Jazz Club</h1>
        <span>Retro</span>
        <img src="../assets/images/saxophone.png" alt="image-saxophone" />
      </div>
    </div>
  </body>
</html>
